*{
  margin: 0;
  padding: 0;
}
body{


  width: 100vw;
  height: 100vh;
  
}
#root{
  min-width: 100vh;
  min-height: 100vh;
}

.App{
width: 100vw;
height: 100vh;
}
.routes{
  width: 100vw;
  height: 100vh;
}


/* pagina de inicio */


.inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* header */
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
}
.header1{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: blue;
  
  color: white;
}
.login_trial{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.login {
margin-right: 24px;

}
.trial{
  color: white;
  background-color: black;
  width: 55%;
  height: 70%;
}

.header2{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: gray;
  height: fit-content;
  color: white;

}

/* header */

/* contenido */
.contenido{
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: flex-start;
}

.placeholder{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  margin: 8px;
  background-image: url("../public/asset/placeholder.png");
  background-size: cover;
  background-position: center;
  background-color: black;
}
.popular_title{
  margin: 8px;
}
/* contenido */
/* pie de pagina */
.pie_de_pagina{
 
  display: flex;
  flex-direction: column;
  min-height: 150px;
  height: 10%;
  width: 100%;
  color: white;
  background-color: black;
  padding: 30px;
  padding-left: 100px;
}
.copy{
  margin-bottom: 30px;
}
.img-redes{
  max-width: 40px;
  max-height: 40px;
  margin: 8px;
}
.img-store{
  max-height: 25%;
  margin: 8px;
}
.pie-img{
  display: flex;
}
.pie-imgs{
  max-width: 50%;
  width: 50%;
  max-height: 50%;
}
/* pie de pagina */
/* pelicula */
.contenido_pelis{
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: 10px 80px;
  
}
.peli-serie{  
  margin: 15px;
  max-width: 150px;
  max-height: 200px;
}

.caratula{
  max-width: 80%;
  
}
.caratula:hover{
 border: solid;
 border-radius: 25%;
  border-color: white;
  opacity: 50%;
}
/* popup */
.fondo_popup{
  position: absolute;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
.popup{
  background-color: black;
  color: aliceblue;
  max-width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 8px;
}

.caratula_popup{
  width: 40%;
  margin: 6px;
}
/* popup */
/* pelicula */
/* pagina de inicio */