*{
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
  
}
#root{
  width: 100%;
  height: 100%;
}

.App{
width: 100%;
height: 100%;
}
.routes{
  width: 100%;
  height: 100%;
}


/* pagina de inicio */


.inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* header */
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
}
.header1{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: blue;
  
  color: white;
}
.login_trial{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.login {
margin-right: 24px;

}
.trial{
  color: white;
  background-color: black;
  width: 80%;
  height: 80%;
}

.header2{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: gray;
  height: fit-content;
  color: white;

}

/* header */

/* contenido */
.contenido{
  display: flex;
  width: 80%;
  height: 50%;
  justify-content: flex-start;
}

.placeholder{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  margin: 8px;
  background-image: url("../public/asset/placeholder.png");
  background-size: cover;
  background-position: center;
  background-color: black;
}
.popular_title{
  margin: 8px;
}
/* contenido */
/* pie de pagina */
.pie_de_pagina{
 
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  color: white;
  background-color: black;
}
.img-redes{
  max-width: 40px;
  max-height: 40px;
  margin: 8px;
}
.img-store{
  max-height: 40px;
  margin: 8px;
}
.pie-img{
  display: flex;
}
.pie-imgs{
  width: 50%;
}
/* pie de pagina */
/* pagina de inicio */